
/*--top division--*/
.container1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    color: white;
    padding:  0px 80px 0px 80px;
   
}
ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    gap: 20px;
    font-size: 18px;

    padding: 8PX;
}
.hlogo{
    font-weight: 700;
    font-size: 24px;
    color: #F9FAF8;
}
.hero{
    background-color: #1F2937;
    height: 600px;
    width:100%
}
/*second division---*/
.container2{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    
}
img{
    width: 600px;
    height: 300px;
}

.hero2{
    width: 600px;  
}
h1{
    font-size:48px;
    font-weight: bolder;
    color: #F9FAF8;
}
.hhh1{
    font-size: 18px;
    color: #E5E7EB;
}
.stbtn{
    background-color: #3b82f6;
    color:white;
    width: 150px;
    height: 50px;
    border-radius: 12px;
    font-size: 18px;
    border-style: none;
}
.sdd{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}
/*thid css section--*/
.wte{
    background-color: white;
    height: 600px;
    width: 100%;
}
.hhh2{
    font-size: 36px;
    font-weight:600;
    text-align: center;
}
.container3{
    display: flex;
    justify-content: center;
    gap: 36px;
    align-items: center;
    
}
.hero4{
    height: 200px;
    width: 200px;
    border-radius: 12px;
    border-color: #3b82f6;
    border-style: solid;
    max-width: 200px;
    display: flex;
}
.sdb{
    max-width: 200px;
    margin-top: 40px;
}
/*-----Section 3 paragraph---*/
.grey{
    background-color: #e5e7eb;
    width: 100%;
    height: 500px;
}
.par{
    font-size: 36px;
    color: #1F2937;
    padding: 200px 250px 150px 350px;
    
}
.kathru{
    text-align: end;
    font-weight: 800;
    font-size: 24px;
}
/*----footer----*/
.container4{
    display: flex;
    align-items: center;
    justify-content: center;
}
.blu{
    background-color: #3b82f6;
    width: 70%;
    height: 150px;
    margin-top: 180px;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}
h2{
    font-size: 36px;
    color:white;
    font-weight: 700;
}
.ftr{
color: white;
font-size: 18px;
}
.btn2{
    color: white;
    background-color: #3b82f6;
    width: 100px;
    height: 40px;
    margin-left: 100px;
    border-radius: 12px;
    border-color: white;
    border-style: solid;
    font-size: 14px;
}