
/*--top division--*/
.container1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    color: white;
    padding:  0px 80px 0px 80px;
   
}
ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    gap: 20px;

    padding: 8PX;
}
.hlogo{
    font-weight: 700;
    font-size: 24px;
    color: #F9FAF8;
}
.hero{
    background-color: #1F2937;
    height: 570px;
    width:100%
}
/*second division---*/
.container2{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    
}
img{
    width: 600px;
    height: 400px;
}

.hero2{
    width: 600px;  
}
h1{
    font-size:48px;
    font-weight: bolder;
    color: #F9FAF8;
}
.hhh1{
    font-size: 18px;
    color: #E5E7EB;
}
.stbtn{
    background-color: #3b82f6;
    color:white;
    width: 150px;
    height: 50px;
    border-radius: 12px;
    font-size: 18px;
    border-style: none;
}
/*thid css section--*/
.wte{
    background-color: white;
    height: 600px;
    width: 100%;
}
.hhh2{
    font-size: 36px;
    font-weight:600;
    text-align: center;
}
.container3{
    display: flex;
    justify-content: center;
    gap: 36px;
    align-items: center;
    
}
.hero4{
    height: 200px;
    width: 200px;
    border-radius: 12px;
    border-color: #3b82f6;
    border-style: solid;
    max-width: 200px;
    display: flex;
}
.sdb{
    max-width: 200px;
    margin-top: 40px;
}
